[user]
  name = Jason Laster
  email = jason.laster.11@gmail.com

[credential]
  helper = osxkeychain

[alias]
	a = add -p
    ac = !git add -p && git commit --amend -n --no-edit
  b = branch
    ba = branch -a
    bc = rev-parse --abbrev-ref HEAD
    bd = branch -D
    br = branch -r
  ci = commit --verbose
    cia = commit --amend --verbose --no-edit -n
    acia = !git add \"$1\" && git commit --amend --no-edit -n
    cim	= commit -n -m
    cl = clean
    clf = clean -f
  co = checkout
    cob = checkout -b
    cop = checkout -p
    cot = checkout --track
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue --no-verify
  d = diff
    ds  = diff --stat
    dc  = diff --cached
    dcs = diff --cached --stat
    dm  = diff main
    dms = diff main --stat
	f = fetch
	fp = format-patch --stdout
  g = grep --line-number -p -A2
  l = log --graph --decorate
    lp = log -p --date=short
    lpj = log -p --date=short --author jlaster HEAD~20..HEAD

    lo = log --oneline
    ls = log --stat
    lh = log --date=short --pretty=oneline HEAD~100..HEAD
    lhs = log --date=short --stat HEAD~100..HEAD
    lhj = log --date=short --author jlaster --stat HEAD~20..HEAD
  rpull = pull --rebase
	r = rebase
    rc = rebase --continue
    rs = rebase --abort
    ra = rebase --abort
    ri = rebase -i
    rih2 = rebase -i HEAD~2
    rih3 = rebase -i HEAD~3
    rih4 = rebase -i HEAD~4
    rih5 = rebase -i HEAD~5
    rih10 = rebase -i HEAD~10
    rih = rebase -i~HEAD~10
	re = reset
    reh = reset HEAD
    rehh = reset HEAD~1 --hard
  rmc = rm --cached
  sh = show --
    shs = log -1 --stat
  st = status
    stm = status --untracked=no
    s = stash
    sa = stash apply

    pttw = t push-to-try ../../fx-team -b do -p linux,macosx64,win32 -u mochitest-dt,mochitest-e10s-devtools-chrome -t none
    ptt = t push-to-try ../fx-team -b do -p linux,macosx64,win32 -u mochitest-dt,mochitest-e10s-devtools-chrome -t none


  undo = "!git reset HEAD~1 \"$1\" && git checkout \"$1\" "
  hgp = "show --binary --find-renames --format=\"# HG changeset patch%n# User %an <%ae>%n%B\" -U8"

[core]
	pager = less -r
	editor = /usr/bin/vim

[color]
  ui = true

[pager]
	branch = false
